[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bs4 = "*"
pytz = "*"
requests = "*"
waybackpy = "*"
html-to-csv = "*"
lxml = "*"
html5lib = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
